
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
#main-div{
    max-width: 85%;
 margin: 0 auto;
}

.header{
    text-align: center;
    &__title{
        font-size: 36px;
    }
    &__description{
        font-size: 18px;
    }
    span{
        color: #003FB4;

    }
}



  .slider{
    width: 100%;

   .cards-container{
    justify-content: center;
    display: flex;
   
    gap: 20px;
    text-align: center;
    align-items: center; 
   

    .speaker-card{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 20px;
        width: 23%;
        border-radius: 10px;
        .speaker-card__company{
            color: grey;
        }
    }  
    @media (max-width: 900px){
      display: flex;
      flex-wrap: wrap;
    }


  }

}

// popup container styles

.speaker-details__content {
    margin-top: 45px;
    position: relative;
    display: flex;
     padding: 20px;
     margin-bottom: 15px;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  

  .speaker-details__left {
    display: flex;
    gap:20px;
    align-items: center;
    border-right: 2px solid #ddd;
    padding-right: 20px;
  }
  

  .speaker-details__info-container {
    align-items: center;
    line-height: normal;
  }
  
  .speaker-details__name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
  
  .speaker-details__profession{
    font-weight: bold;
  }
  .speaker-details__company {
    font-size: 18px;
    color: grey;
  
  }
  

  .speaker-details__social-icons{
 
    gap:25px
  }
  .speaker-details__social-icons img {

    cursor: pointer;
  }
  
  /* Right section styling (description) */
  .speaker-details__right {
    flex: 2;
    padding: 20px 20px;
    margin-left: 15px;
  
  }
  
  .speaker-details__description-container {
    font-size: 18px;
    line-height: 1.5;
  }
  

// close button styles

.hidden {
    display: none;
}
.close-button{
    position: absolute ;
    top: 10px;
    right:10px;
    background:none;
    border: none;
    cursor: pointer;
    outline: none;
  
}



  // button styles

  .program-details__wraper {
    width: 100%;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    padding: 20px 0;
    
    .program-details__button {
      background: #003FB4;
      color: white;
      padding: 18px 120px;
      border: none;
      border-radius: 10px;
      font-size: 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #002f8a;
      }

      @media (max-width: 900px) {
        padding: 10px 50px; // Less padding
        font-size: 18px;
         // Slightly smaller font
      }
      @media (max-width: 576px) {
        padding: 12px 30px;
        font-size: 15px; 
        width: 100%;  
      }
    }
  
  
  
  }
  
  



    // media queries
    @media (max-width: 900px) {
        .speaker-details__content {
          flex-direction: column;
          align-items: center;
        }

        .speaker-card p, h3{
         font-size: 16px;
        }
        .speaker-card img{
            width: 100%;
        }
        .speaker-details__right {
          padding-top: 20px;
        }
    
        .header{
            text-align: center;
            &__title{
                font-size: 30px;
            }
        
        }
    
        .speaker-details__left {
            display: flex;
            gap:15px;
            align-items: center;
            border-right: none;
            
          }
          
      }
      

    
    
    
      @media (max-width: 500px) {
    .speaker-details__left{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .header{
        text-align: center;
        &__title{
            font-size: 25px;
        }
    
    }   
      }
    